@mixin general_header_logo_content {
    position: relative;
    top: -5px;
    display: inline-block;
    vertical-align: super;
    border-radius: 57px;
    background: #7e829b;
}

@mixin header_content_float_left {
    left: 0px;
    margin-left: 5px;
}

@mixin header_content_float_right {
    right: 0px;
    margin-right: 5px;
}