$top : $header-height;

.side_menu {
    top: $top;
    overflow-x: hidden;

    width: 320px;

    &--small {
        width: 210px;
    }

    &--large {
        width:  430px;
    }

    &__scroll {
        height: 100%;
        overflow-x: hidden;

    }

    ul {
        li {
            list-style: none;
            text-align: -webkit-match-parent;
        }
    }

}